.drop-box {
    display: block;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 40%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px auto 0px;
    font-size: 26px;
}

.dragover {
    background-color: silver;
}

.form-group {
    margin-right: 25px;
}

.start-convert-button {
    display: block;
    min-width: 260px;
    height: 55px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 0px auto 15px;
    border-radius: 10px;
    background: #fe0000;
    color: #fff;
}

.start-convert-button:disabled {
    display: block;
    min-width: 260px;
    height: 55px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 0px auto 15px;
    border-radius: 10px;
    background: #cccccc;
    color: #666666;
}

.preload-title {
    display: table;
    width: 95%;
    padding: 5px 10px;
    background-color: #fafafa;
    border-bottom: solid #d9d9d9 1px;
    margin: 0px auto 0px;
    height: 41px;
}

.preload-title label {
    margin-bottom: 0px;
}

.preload-title p {
    margin-bottom: 0px;
}

.filename {
    display: table-cell;
    vertical-align: middle;
    min-width: 10px;
    max-width: 10px;
}

.file-info {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 5px;
    max-width: 30px;
}

.filesize {
    vertical-align: middle;
    font-size: 12px;
}

.download-button {
    min-width: 120%;
}

.action.download {
    display: inline-block;
    padding: 8px 10px 7px;
    border-radius: 1px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background: #279d6a;
    color: #fff;
    text-align: center;
    height: 30px;
}

.action.download:hover,
.drop-box:hover,
a:hover,
.column:hover {
    cursor: pointer;
}

.close-wrapper,
.setting-wrapper,
.file-icon,
.forall-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    min-width: 10px;
    max-width: 7px;
}

.close,
.setting-button,
.forall-button {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    border: none;
    color: black;
    background-position: center;
    width: 26px;
    background-repeat: no-repeat;
}

.setting-button,
.forall-button {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.setting-button:hover,
.forall-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

.setting-info {
    text-align: center;
    display: table-cell;
    vertical-align: top;
    width: 190px;
    float: right;
}

.normal-line {
    background-color: #eee;
    color: #333;
}

.header-line {
    background-color: #00ff81;
    color: #333;
}

.unit-line {
    background-color: #64beff;
    color: #333;
}

.data-line {
    background-color: #f2a100;
    color: #333;
}

.modal-body label.line {
    display: block;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: normal;
}

.index-line {
    width: 5%;
    text-align: center;
    background-color: silver;
    margin: 0px;
}

.csv-transformer-border {
    border: 1px solid black;
    padding: 7px;
    word-wrap: break-word;
    min-width: 110px;
}

.well-selected {
    background-color: #b7ebf5;
    color: #333;
}

.dataset-selected {
    background-color: #8aff8a;
    color: #333;
}
